body {
	background-color: rgb(255, 255, 255);
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: 'Press Start 2P', cursive;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;
}

.cell {
	border: 1px solid lightgray;
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

/* .censured{
	background-color: rgb(109, 109, 109);
} */



/* .game-over button {
	border-color: yellow;
	color: yellow;
	background-color: Black;
	padding: 25px;
	font-family: 'Press Start 2P', cursive;
	font-size: xxx-large;
	cursor: pointer;
} */

.main-title {
border-bottom:solid 1.5px white; 
}



.hide {
	display: none;
}


.fas .fa-ghost{
width: 100%;
}

.footer{
border-top: solid 1.5px white;
}
